.popup {
  position: fixed;
  top: 5rem;
  left: 25rem;
  width: 50%;
  height: 80%;
  background-color: aquamarine;

  display: flex;
  justify-content: center;
  align-items: center;
}

.close-btn {
  position: absolute;
  top: 1%;
  left: 95%;
}